:root {
  --background: #f7fafc;
  --light: #777777;
  --codeFont: 'Source Code Pro', 'SFMono-Regular', Consolas, 'Liberation Mono',
    Menlo, Courier, monospace;
  --systemFont: 'Inter', sans-serif;
}